<a href="https://colab.research.google.com/github/Saifullah785/Python_for_Data_Science/blob/main/Pandas_For_Data_Science/class_01_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

### Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [ ]:
# importing pandas
import numpy as np
import pandas as pd

In [ ]:
# string
country = ['pakistan','india','nepal','united state']
pd.Series(country)

0        pakistan
1           india
2           nepal
3    united state
dtype: object